header {
    background-color:lightsalmon;
    padding: 1/5px 0; 
}
marquee {
    background-color: burlywood;
}
.caixa {
    position: relative;
    width: 1300px;
    margin: 0 auto;
}
img {
    height: 200px;
    width: 300px;
}
body{
    background-color: bisque;
    text-align: justify;
}

p {
    text-align:center; 
    font-size: 20px;
    padding: 10px;
    
}
/*para deixar na horizontal
nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}*/
/* para alinhar no cabeçalho
nav {
    position: absolute;
    top: 0;
    right: 0;
}*/
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
